*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
#div-body{
    width:80%;
    margin: auto;
}
#div-section{
    min-height:400px;   
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
#div-form{
    width:40%;
    background-color: lightblue;
    min-height: 400px;
    padding-top: 5px;
    float: left;   
}
#div-image{
    min-height: 400px;
    width:60%;  
    background-image: url('diabetes.jpg');
    background-size: cover;
    float: right;
}

input{
    margin: 5px;
    padding:10px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);

}
button{
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:85%;
}
